.itemCard {
  height: 180px;
}

.itemImage {
  height: 250px;
}

@media screen and (max-width: 768px) {
  .itemCard {
    height: 180px;
  }

  .itemImage {
    height: auto;
  }
}

@media screen and (max-width: 480px) {
  .itemCard {
    height: 150px;
  }

}
